{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if object.actionLogs is not null %}
        <a href="{{ path('admin_app_cardactionlog_list',
            {'filter': {'rfidReader': {'value': object.id, 'type': '3'}}}
        ) }}">Action Logs</a>
        The last:
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Action log id</th>
                <th scope="col">User</th>
                <th scope="col">Result</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for log in object.actionLogs|reverse %}
                <tr>
                {% if loop.index < 10 %}
                    <th>
                        <a href="{{ path('admin_app_cardactionlog_list',
                            {'filter': {'id': {'value': log.id, 'type': '3'}}}
                        ) }}">{{ log.id }}</a>
                    </th>
                    <th>
                        <a href="{{ path('admin_app_companyusers_list',
                            {'filter': {'id': {'value': log.rfidCard.user   .id, 'type': '3'}}}
                        ) }}">{{ log.rfidCard.user }}</a>
                    </th>
                    <th>
                        {% if log.actionResult  %}
                            <span class="text-green fa fa-circle" title="allow"></span>
                        {% else %}
                            <span class="text-red fa fa-circle" title="disallow"></span>
                        {% endif %}
                    </th>
                    <th>
                        {{ log.createdAt|date('d.m.Y H:i:s') }}
                    </th>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No action logs for RFID reader
    {% endif %}
{% endblock %}
