{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if object.fluentLogs is not null %}
        Last RFID Reader Fluent Logs
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Fluent log id</th>
                <th scope="col">Path</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for log in object.fluentLogs|reverse %}
                <tr>
                    {% if loop.index < 10 %}
                        <th>{{ log.id }}</th>
                        <th>
                            {% set fileName = getLogFile(log.path) %}
                            <a href="{{ path('get.log',
                                {'id': object.id, 'fileName': fileName }
                            ) }}">{{ fileName }}</a>
                        </th>
                        <th>
                            {{ log.createdAt|date('d.m.Y H:i:s') }}
                        </th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No fluent logs for RFID reader
    {% endif %}
{% endblock %}
