{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if object.controllerDevice is not null %}
        {% if pingStatus(object.controllerDevice) %}
            <span class="text-green fa fa-circle" title="valid"></span>
            Last ping at: {{ object.controllerDevice.lastPingAt|date("d.m.Y H:i:s") }}
        {% else %}
            <span class="text-red fa fa-circle" title="not valid"></span>
            Last ping at: {{ object.controllerDevice.lastPingAt|date("d.m.Y H:i:s") }}
        {% endif %}
    {% else %}
        <span class="text-red fa fa-circle" title="not valid"></span>
    {% endif %}
{% endblock %}
