{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}"><span>{{ productionTag() }}</span></a>
    {% endspaceless %}
{% endblock %}
