{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        html * {box-sizing:border-box;}
        body, html {margin:0;padding:0;}
        .header {font-family:Arial,sans-serif;position:fixed;width:100%;height:36px;min-height:36px;top:0;left:0;background-color:#fff;z-index:1000;}
        .header__shadow {position:absolute;text-decoration:none;left:0;right:0;height:10px;width:auto;-webkit-transition:all 333ms cubic-bezier(0.23,1,0.32,1);transition:all 333ms cubic-bezier(0.23,1,0.32,1);background-repeat:no-repeat;background-size:100% 1px,100% 5px;background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.2) 75%,transparent),-webkit-radial-gradient(50% 50%,rgba(0,0,0,0.2),transparent);background-image:linear-gradient(transparent,rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.2) 75%,transparent),radial-gradient(50% 50%,rgba(0,0,0,0.2),transparent);background-position:0 0,0 -1px;}
        .main {margin-top:40px;}
        .nav {padding:0.3em 1em;}
        .nav > span {font-size:0.95em;margin:0 1em;color:#005F96;text-decoration:none;border-bottom:1px dotted #005F96;cursor:pointer;}
        .row {font-family:monospace;padding:0.3em 1em;display:table;width:100% !important;table-layout:fixed;overflow:hidden;}
        .row:hover, .row.expanded {background-color:#eee;}
        .message-object {cursor: pointer;}
        .row > div {vertical-align:top;display:table-cell;}
        .row .timestamp {color:#999;width:400px;min-width:360px;white-space:nowrap;padding-right:1em;text-overflow:ellipsis;overflow:hidden;}
        .row .message-text,.row .message-object {display:table-cell;text-align:left;vertical-align:top;white-space:normal;}
        .row .message-object pre {font-size:14px;color:#333;font-family:Menlo,Monaco,Consolas,'Courier New',monospace;display:inline-block;margin:0 0 0 1em;}
        .row.expanded .message-object pre {float:none;margin:0 0 1em;background:#f7f7f9;border:1px solid #e1e1e8;padding:8px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;white-space:pre-wrap;overflow:auto;display:block;}
        .row .message {display:table;width:100% !important;table-layout:fixed;overflow:hidden;}
        .row.expanded .message,.row.expanded .message-text,.row.expanded .message-object {display:block;}
        .row.closed .message-object {cursor:pointer;padding-left:2em;overflow:hidden;white-space:nowrap;-webkit-mask-image:-webkit-linear-gradient(right,transparent 0,#000 5em);mask:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9z…Gg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNhKSIvPjwvbWFzaz48L3N2Zz4K#fade-mask");-ms-text-overflow:ellipsis;color:#999 !important;}
        .row.closed .message-object pre {white-space:nowrap;word-wrap:break-word;}
        .hidden {display:none !important;}
        .field {display:block;width:350px;height:26px;padding:0 0.3em;border:1px solid #AAA;text-align:left;white-space:nowrap;line-height:26px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#FFF;}

        .type-sql.closed .message-object {display:none;}
        .type-sql.expanded .message-text {max-height:20px; min-height:20px; position:relative; overflow:hidden;}
        .type-sql.expanded .message-text:after {content:'';position:absolute; bottom:0; left:0; width:100%; text-align:center; margin:0; padding:8px 0; background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, #eee)); background-image:-webkit-linear-gradient(top, transparent, #eee); background-image:-moz-linear-gradient(top, transparent, #eee); background-image:-ms-linear-gradient(top, transparent, #eee);}

        .type-info, .type-info:hover {color: #0063DC !important;}
        .type-attention, .type-attention:hover { color: #009900 !important; background-color: #000 !important;}
        .type-todo, .type-todo:hover {background-color: rgba(0, 255, 89, 0.6);}
        .type-notice, .type-notice:hover {background-color: rgba(212, 198, 158, 0.7);}
        .type-warning, .type-warning:hover, .type-warn, .type-warn:hover {background-color: rgba(231, 249, 85, 0.8);}
        .type-error, .type-error:hover {background-color: rgba(255, 0, 0, 0.6);}
        .type-fatal, .type-fatal:hover {background-color: rgba(255, 0, 0, 0.9); color: #fff !important;}
        .type-error .timestamp, .type-fatal .timestamp {color: #fff !important;}
        .type-todo .timestamp, .type-notice .timestamp, .type-warn .timestamp, .type-warning .timestamp {color: #333 !important;}
    </style>
{% endblock %}

{% block body %}
    <div>
        {% for log in logs %}
            {% set class = "type-" ~ log.level %}
            <div class="row closed {{ class }} expanded" id="{{ loop.index }}">
                <div class="timestamp">{{ log.timestamp }}</div>
                <div class="message">
                    <div class="message-text">{{ log.message }}</div>
                    <div class="message-object" onclick="toggleObject(this);">
                        <pre>
                            {{ log.content }}
                        </pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function toggleObject(element) {
            element.parentElement.parentElement.classList.toggle("closed");
        }
    </script>
{% endblock %}