{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.controllerDevice is not null %}
        {% if pingStatus(object.controllerDevice) %}
            <span class="text-green fa fa-circle" title="valid"></span>
        {% else %}
            <span class="text-red fa fa-circle" title="not valid"></span>
            {{ object.controllerDevice.lastPingAt|date("d.m.Y H:i:s") }}
        {% endif %}
    {% else %}
        <span class="text-red fa fa-circle" title="not valid"></span>
    {% endif %}
{% endblock %}
