{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.actionLogs is not null %}
        {% for log in object.actionLogs|reverse %}
            {% if loop.index < 5 %}
                <a href="{{ path('admin_app_cardactionlog_list',
                    {'filter': {'id': {'value': log.id, 'type': '3'}}}
                ) }}">{{ log.id }}</a>
                <br />
            {% endif %}
        {% endfor %}
        <a href="{{ path('admin_app_cardactionlog_list',
            {'filter': {'rfidCard': {'value': object.id, 'type': '3'}}}
        ) }}">...</a>
    {% else %}
        -
    {% endif %}
{% endblock %}
