{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.actionResult is not null %}
        {% if object.actionResult %}
            <span class="text-green fa fa-circle" title="valid"></span>
        {% else %}
            <span class="text-red fa fa-circle" title="not valid"></span>
        {% endif %}
    {% else %}
        -
    {% endif %}
{% endblock %}
